{% extends "base.html" %}

{% block main_content %}
            <!-- блок материала--->
<div>
    <h4 class="content-text">
        <p>
            По материалу этого учебника мы создали простейшую игру жанра Tower Defense, о путях развития игры:
        </p>
        <ul class="margin-ul">
            <li>улучшение визуальной составляющей;</li>
            <li>добавление новых уровней;</li>
            <li>добавление новых противников;</li>
            <li>добавление новых защитных сооружений;</li>
            <li>проработка баланса игры (экономика, параметры врагов и башен, прокачка башен);</li>
        </ul><br>
        <p>
            После проработки всего вышеупомянутого можно по итогу получить весьма успешный на мой взгляд продукт.
        </p><br>
        <p>
            Для наглядности можно скачать проект игры по <a class="a-text" href="https://yadi.sk/d/hIRD6HvO0zvZLw" download="" target="_blank">ссылке</a>.
        </p>
    </h4>
</div>
{% endblock %}