{% extends "base.html" %}

{% block main_content %}
            <!-- блок материала--->
<div>
    <h4 class="content-text">
        <p>
            Для начала разработки нам очевидно понадобится создать проект Unity,
            для его создания нужно открыть UnityHub согласно рисунку ниже и установить какую-либо Unity (если это не было сделано до этого: Installs – ADD).
        </p>
        <div class="gallery">
            <img src="../static/img/create_progect/new.jpg" alt="new.jpg" tabindex="0">
        </div>
        <p>
            В открывшемся окне, выбираем 2D, в поле выбираем или оставляем наименование проекта
            (Project Name), а также указываем каталог, в котором будет находиться наш проект (Location), после всего вышеупомянутого
            нажимаем CREATE и ждём завершения создания проекта.
        </p>
        <div class="gallery">
            <img src="../static/img/create_progect/create.jpg" alt="create.jpg" tabindex="0">
        </div>
        <p>
            После всех проведённых операций после загрузки Unity перед нами откроется пустой проект.
        </p>
        <div class="gallery">
            <img src="../static/img/create_progect/window_unity.jpg" alt="window_unity.jpg" tabindex="0">
        </div>
    </h4>
</div>
{% endblock %}