{% extends "base.html" %}

{% block main_content %}
            <!-- блок материала--->
<div>
    <h4 class="content-text">
        <p>
            Пройдя предыдущие этапы мы смогли реализовать основной функционал, в заключающих этапах так же упоминались небольшие
            скрипты, которые нужны для хранения 1 переменной, но созданы, для сохранения логики (на мой взгляд) в ссылках на эти переменные.<br>
            Скрипты, о которых мы говорим предоставлены ниже:
        </p>
        <div class="gallery">
            <img src="../static/img/end/CountKills.jpg" alt="game_scene.jpg" tabindex="0">
            <img src="../static/img/end/CountClicks.jpg" alt="game_scene.jpg" tabindex="0">
        </div>
        <p>
            Теперь, когда мы закончили со всем предшествующим перейдём к одному из ключевых скриптов - скрипт, отвечающий за окончание уровня.
            Здесь мы проверяем флаг "End", который мы встречали ранее, изначально он имеет значение false, однако, если игрок сможет справится со всеми олнами
            противников или наоборот - противники смогут одержать верх, то значение поменяется на true.<br>
            Таким образом, при окончании игры выключаются все UI-интерфейсы и включется меню конца игры, куда из выполненных
            условий будет вписан результат прохождения уровня игроком.
        </p>
        <div class="gallery">
            <img src="../static/img/end/EndGame1.jpg" alt="game_scene.jpg" tabindex="0">
            <img src="../static/img/end/EndGame2.jpg" alt="game_scene.jpg" tabindex="0">
            <img src="../static/img/end/EndGame3.jpg" alt="game_scene.jpg" tabindex="0">
        </div>
    </h4>
</div>
{% endblock %}