{% extends "base.html" %}

{% block main_content %}
            <!-- блок материала--->
<div>
    <h4 class="content-text">
        <p>
            Импортировать файлы можно несколькими способами: перемещением необходимых файлов в папку Assets
            в корневой папке проекта или непосредственно в проект, переместив необходимые файлы в выделенную зону.
        </p>
         <div class="gallery">
            <img src="../static/img/import_files/import_zone.jpg" alt="import_zone.jpg" tabindex="0">
         </div>
        <p>
            Так же в выделенной области можно создавать свои папки и прочее путём нажатия в её пределах ПКМ и выбрав необходимое действие.
        </p>
        <div class="gallery">
            <img src="../static/img/import_files/create_new.jpg" alt="create_new.jpg" tabindex="0">
        </div>
        <p>
            Создадим несколько папок (Folder) и импортируем несколько спрайтов, которые можно найти на просторах
            интернета или нарисовать самому в любых пригодных для этого программах, для разработки игры.
        </p>
        <div class="gallery">
            <img src="../static/img/import_files/background_sprite.jpg" alt="background_sprite.jpg" tabindex="0">
            <img src="../static/img/import_files/bullet_sprite.jpg" alt="bullet_sprite.jpg" tabindex="0">
            <img src="../static/img/import_files/sprite_for_game_zone.jpg" alt="sprite_for_game_zone.jpg" tabindex="0">
        </div>
        <div class="gallery">
            <img src="../static/img/import_files/enemy_sprite.jpg" alt="enemy_sprite.jpg" tabindex="0">
            <img src="../static/img/import_files/tower_sprite.jpg" alt="tower_sprite.jpg" tabindex="0">
            <img src="../static/img/import_files/UI_sprites.jpg" alt="UI_sprites.jpg" tabindex="0">
        </div>
    </h4>
</div>
{% endblock %}