{% extends "base.html" %}

{% block main_content %}
            <!-- блок материала--->
<div>
    <h4 class="content-text">
        <p>
            В этом разделе мы затронем не только и снаряды, корыми они стреляют, но начнём с башен и они должны:<br>
            - обнаруживать свою цель в определённом радиусе;<br>
            - генерировать снаряды.<br>
            Для того, чтобы мы могли отследить противника у башни должен быть заранее настроенный коллайдет с галочкой isTrigger или же программно, как показано в предыдущем разделе каждый кадр будем создавать круг, который будет выполнять ту же самую задачу.
            Я буду использовать 1ый вариант, так как на мой взягляд это более правильное решение, теперь перейдём к коду.
        </p>
        <div class="gallery">
            <img src="../static/img/tower_bull/FindEnemies.jpg" alt="move1" tabindex="0" />
            <img src="../static/img/tower_bull/SpawnBullets.jpg" alt="move2" tabindex="0" />
        </div>
        <p>
            FindEnemies состоит из 2 функций, первая реагирует на вхождение инородного объекта в зону коллайдера, вторая наоборот срабатывает, при
            выходе объекта из коллайдера. Таким образом
            <a class="a-text" href="https://docs.unity3d.com/ru/current/ScriptReference/MonoBehaviour.OnTriggerEnter2D.html" target="_blank">OnTriggerEnter2D</a>
            необходима для заполнение листа с противниками, для дальнейшего использования, а
            <a class="a-text" href="https://docs.unity3d.com/ru/current/ScriptReference/MonoBehaviour.OnTriggerExit2D.html" target="_blank">OnTriggerExit2D</a>,
            для удаление из этого списка тех противников, что вшли из зоны пораения.<br>
            Спавн снарядов осуществляется, если в списке противников башни присутствуют найденные её противники и с интервалом, который в
            моём случаи задаётся в Unity, за счёт публичности переменных, при появлении пуля получает цель и controller, для доступа к
            некоторым скриптам на нём.
        </p>
        <div class="gallery">
            <img src="../static/img/tower_bull/MoveBullets.jpg" alt="move1" tabindex="0" />
            <img src="../static/img/tower_bull/Damage.jpg" alt="move2" tabindex="0" />
        </div>
        <p>
            Как можно заметить, основной алгоритм движения пуль крайней схож на движение противников, но с проверкой на наличие их цели
            в противном случаи, если за 1 противником будет лететь несколько снарядов на разном удалении от противника, то при уничтоении их цели
            оставшиеся снаряды останутся на месте, а движёк начнёт сыпать ошибками. В связи с чем, если противник будет уничтожен все оставшиеся
            снаряды удалятся со сцены за счёт
            <a class="a-text" href="https://docs.unity3d.com/ScriptReference/Object.Destroy.html" target="_blank">Destroy</a>.<br>
            На пуле так же присутствует коллайдер с галочкой isTrigger, таким образом здесь мы так же можем использовать
            <a class="a-text" href="https://docs.unity3d.com/ru/current/ScriptReference/MonoBehaviour.OnTriggerEnter2D.html" target="_blank">OnTriggerEnter2D</a>,
            где мы проверяем на тег "enemy", чтобы снаряд не удалялся от совприкосновения с башней.<br>
            Как видно после удаления снаряда, что происходит после достижения им своей цели противнику наносится урон, после чего идёт ряд проверок:<br>
            - остался ли противник жив, после попадания;<br>
            - подошла ли к концу текущая волна, если противник был уничтожен;<br>
            - была ли это последняя волна.<br>
            <br>
            Таким образом основные моменты игры были разобраны, в заключении мы рассмотрим те скрипты, что не упоминались выше, но внимательно читая код
            их существование можно было догадаться, например End, используемый в скрипте Damage.
        </p>
    </h4>
</div>
{% endblock %}