{% extends "base.html" %}

{% block main_content %}
            <!-- блок материала--->
<div>
    <h4 class="content-text">
        <p>
            В общем для того, чтобы враги могли нормально функционировать нам необходимо, чтобы они выполняли 1 функцию:<br>
            - перемещались по дороге.<br>
            По мимо очевидного так же создадим скрипт, содержащий параметры противника, таким образом мы сможем
            настраивать разные типы противника.
        </p>
        <div class="gallery">
            <img src="../static/img/enemies/params.jpg" alt="params_enemy" tabindex="0" />
        </div>
        <p>
            Как можно заметить, помимо самих показателей данный скрипт хранит в себе так же проверку здоровья противника, на котором он
            находится, таким образом нам не придётся писать эту проверку, при написании скрипта с нанесением противнику урона.<br><br>
            Теперь перейдём к перемещению:
        </p>
        <div class="gallery">
            <img src="../static/img/enemies/move1.jpg" alt="move1" tabindex="0" />
            <img src="../static/img/enemies/move2.jpg" alt="move2" tabindex="0" />
        </div>
        <p>
            При первом появлении противника на сцене автоматически вызывается функция
            <a class="a-text" href="https://docs.unity3d.com/ScriptReference/MonoBehaviour.Start.html" target="_blank">Start</a>,
            внутри которой мы за счёт имён клеток получаем объекты углов дороги (не смотря на то, что в коментариях написано,
            что там хранятся все клетки дороги), затем каждый кадр срабатывает функция
            <a class="a-text" href="https://docs.unity3d.com/2022.2/Documentation/Manual/EventFunctions.html" target="_blank">Update</a>
            в которой мы вызываем уже самописную функцию MoveOnRoad.<br>
            На вид она простая, такой же является и на деле, здесь противник приближается к определённойму углу дороги за счёт
            <a class="a-text" href="https://docs.unity3d.com/ScriptReference/Vector3.MoveTowards.html" target="_blank">Vector3.MoveTowards</a>.
            А так же поварачивается к соответствующему углу за счёт ниже написанной функции LookAtNowCorner. В завершении проверяет -
            достиг ли объект указанной точки, если да, то увеличивает index (в нашем случаи это номер нужного нам угла дороги).
        </p>
        <p>
            Хорошо, теперь противники могут передвигаться, но как им появляться на поле?<br>
            Эту задачу решает скрипт Spawner:
        </p>
        <div class="gallery">
            <img src="../static/img/enemies/Spawner.jpg" alt="move1" tabindex="0" />
        </div>
        <p>
            Благодаря
            <a class="a-text" href="https://docs.unity3d.com/Manual/Coroutines.html" target="_blank">IEnumerator</a>,
            мы можем повторять действия раз в определённое количество секунд, внутри функции WaitSpawn типа IEnumerator
            мы сравниваем текущее количество монстров волны с максимально допустимым количеством монстров волны, если лимит не достигнут,
            монстры продолжают появлятся и получать необходимую им настройку, в противном случаи ничего не происходит.
        </p><br>

        <p>
            Таким образом осталость решить последнюю задачу монстров - нанесение игроку урона, если те достигают конца дороги:
        </p>
        <div class="gallery">
            <img src="../static/img/enemies/GetDamageFromEnemy.jpg" alt="move1" tabindex="0" />
        </div>
        <p>
            Как не сложно догадаться данный скрипт находится не на противнике, а на последней клетке дороги и проверяет все входящие в него объекты по тегу
            и если оказывается, что это противник, то противник автоматически уничтожается, а игроку наносится урон согласно параметрам прорвавшегося противника
            с последующей проверкой на остаточное здаровье игрока.
        </p>
    </h4>
</div>
{% endblock %}